<<<<<<< HEAD
originalName{
    font-size: large;
}
oldName{
    font-size: small;
}

* {
    display: block;
  }
  
=======
name {
  font-weight: bold;
}

* {
  display: block;
}
>>>>>>> d7bc6e50f43277eea3365e2cc02265c9278ff830
